POSTGRES_USER=dbuser
POSTGRES_PASSWORD=ppppaaa
POSTGRES_DB=marketplace
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=dict
MYSQL_USER=app
MYSQL_PASSWORD=app
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio1234
